.navButton {
    background-color: #F0F0F0;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}
    .navButton:hover {
        color: #00A896;
    }

.navigation {
    background-color: #F0F0F0;
    border-radius: 5px;
    border: 2px solid #A0A0A0;
    width: 250px;
    min-width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 50px;
}
.name {
    width: 100%;
    color: #000000;
    margin: auto;
    margin-top: 10px;
    font-size: 65px;
    font-weight: bolder;
    text-transform: uppercase;
}
.createClass {
    background-color: #F0F0F0;
    height: 28px;
    width: 150px;
    border-radius: 2px;
    border: 2px solid #A0A0A0;
    font-size: 14px;
    font-weight: 500;
}
    .createClass:hover {
        color: #00A896;
    }

.setCode {
    height: 28px;
    margin-left: -2px;
    border-radius: 2px;
    border: 2px solid #A0A0A0;
    font-size: 14px;
}
.codeError {
    margin-top: 4px;
    margin-bottom: -8px;
    color: #FF0000;
    font-size: 14px;
}
.rank {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-flex;
}
.rankingNumber {
    background-color: #009384;
    width: 90px;
    height: 90px;
    margin: auto;
    margin-left: 0px;
    margin-right: 20px;
    padding-top: 8px;
    text-align: center;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
}
.rankingTitle {
    margin: auto;
    position: relative;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 700;
}
.stat {
    height: 45px;
    margin: auto;
    margin-right: 20px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
    display: inline-flex;
}
.statHeader {
    margin: auto;
    margin-right: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}
.number {
    height: 100%;
    margin-top: -6px;
    padding: 0px;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;
}
.percent {
    height: 100%;
    margin: 0px;
    margin-top: 8px;
    padding: 0px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
}
.topic {
    background-color: #F0F0F0;
    width: 200px;
    height: 65px;
    margin: auto;
    margin-right: 15px;
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
}
.subtopic {
    margin-top: -5px;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.submitTopics {
    width: 200px;
    height: 36px;
    margin-top: 15px;
    border-radius: 3px;
    border: 2px solid #A0A0A0;
    font-size: 15px;
    font-weight: 700;
}
.toggleStudent {
    width: 200px;
    height: 36px;
    padding-left: 10px;
    border-radius: 3px;
    border: 2px solid #A0A0A0;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
}
.barGraph {
    height: 320px;
}
.logout {
    background-color: #FF4C3C;
    width: 200px;
    height: 36px;
    margin-top: 15px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    font-weight: 700;
}
.header1 {
    width: 100%;
    color: #000000;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 0px;
}
.header2 {
    width: 100%;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 0px;
}
.header3 {
    width: 100%;
    color: #000000;
    font-size: 18px;
    margin-top: 5px;
    padding: 0px;
}